@CHARSET "UTF-8";
/* accordion */
h1.ui-accordion-header {
font-size : 10px;
}
div.ui-accordion-content {
font-size : 15px;
font-family : georgia;
font-style : italic;
}
/*style the main menu*/
.myMenu {
	margin:0;
	padding:0;
}

.myMenu li {
	list-style:none;
	float:left;
	font:12px Arial, Helvetica, sans-serif #111;
}

.myMenu li a:link, .myMenu li a:visited {
	display:block;
	text-decoration:none;
	background-color:yellow;
	padding: 0.5em 2em;
	margin:0;
	border-right: 1px solid #fff;
	color:#111;
}

.myMenu li a:hover {
	background-color:#0CF;	
}

/*style the sub menu*/
.myMenu li ul {
	position:absolute;
	visibility:hidden;
	border-top:1px solid #fff;
	margin:0;
	padding:0;
}

.myMenu li ul li {
	display:inline;
	float:none;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#96ff00;
	width:auto;
}

.myMenu li ul li a:hover {
	background-color:#f2185d;	
}